<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Share your favorite recipes</h1>
      <p>
        A place to share your favorite recipes from around the world
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="https://previews.123rf.com/images/olgapink/olgapink1903/olgapink190300351/119104726-plate-from-breakfast-with-word-isolated-on-white-background-hand-writing-russian-natural-useful-diet.jpg" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Breakfast</h2>
      <p id="demo" class="text-center"><a class="btn btn-success">Go</a></p>

    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="https://previews.123rf.com/images/enterline/enterline1502/enterline150200102/37015632-the-word-lunch-written-in-vintage-metal-letterpress-type-in-a-wooden-drawer-with-dividers-.jpg" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Lunch</h2>
      <p class="text-center"><a class="btn btn-success">Go</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="https://previews.123rf.com/images/pupunkkop/pupunkkop1310/pupunkkop131000030/22660473-word-dinner-written-on-blackboard.jpg" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Dinner</h2>
      <p class="text-center"><a class="btn btn-success">Go</a></p>
    </div>
  </div>

</section>

<script src="assets/js/jquery-1.11.0.min.js"></script>
<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/templatemo.js"></script>
<script src="assets/js/custom.js"></script>
