<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1 text-center">Share your favorite Breakfast recipes</h1>
<!--      <p>{{title}} A place to share your favorite recipes from around the world</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="https://previews.123rf.com/images/olgapink/olgapink1903/olgapink190300351/119104726-plate-from-breakfast-with-word-isolated-on-white-background-hand-writing-russian-natural-useful-diet.jpg" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Breakfast</h2>
<!--      <button (click) = OnBreakfast() class="text-center btn btn-sucess">Go</button>-->

      <p  (click) = OnBreakfast() class="text-center"><a class="btn btn-success">Go</a></p>

    </div>


  </div>

</section>
